<section class="login/signup-page">
    <div class="form-heading">
        <h1>Log In or Signup to See The Board</h1>
    </div>
    <div class="form-section">
        <form class="login-form">
            <h2>Log In here</h2>
            <div>
                <label for="username-login">Username</label>
                <input type="text" class="entry-field" id="username-login" />
            </div>
            <div>
                <label for="password-login">Password</label>
                <input type="password" class="entry-field" id="password-login" />
            </div>
            <div>
                <button type="submit" class="login-signup-btn">Log In!</button>
            </div>
        </form>

        <form class="signup-form">
            <h2>Signup Here</h2>
            <div>
                <label for="username-signup">Select a Username</label>
                <input type="text" class="entry-field" id="username-signup" />
            </div>
            <div>
                <label for="email-signup">Select a Email</label>
                <input type="text" class="entry-field" id="email-signup" />
            </div>
            <div>
                <label for="password-signup">Select a password</label>
                <input type="password" class="entry-field" id="password-signup" />
            </div>
            <div>
                <button type="submit" class="login-signup-btn">Sign Up!</button>
            </div>
        </form>
    </div>
</section>

<script src="/js/login.js"></script>
<script src="/js/signup.js"></script>